* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    display: block;
    background-color: #141414;
    padding-top: 80px;
    padding-bottom: 80px;
}

/*header*/
header {
    color: #fff;
    font-size: 68px;
}

header h1 {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 200px;
}

header .image {
    display: flex;
    justify-content: center;

    position: relative;
    bottom: 50px;
}

/*nav*/
.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

.navbar a {
    text-decoration: none;
    color: black;

}

.navbar ul {
    display: flex;
    justify-content: center;

    list-style: none;
    padding: 30px 0 30px 0;
    font-weight: bold;
}

.navbar li {
    margin-left: 6em;
 
}

.navbar a:hover {
    background: #1d1d1d;
    color: #fff;
    padding: 30px;
}




/*content*/
.content {
    background: #1d1d1d;
    padding: 100px 10em 100px 10em;
}

.content .text {
    color: rgb(83, 83, 83);
    line-height: 2em;
}

.content .text h1 {
    color: #fff;
    line-height: 2em;
}

.content button {
    background-color: #1d1d1d;
    color: #fff;

    padding: 10px 20px 10px 20px;
    margin-top: 40px;

    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fc6666;
}


.content button:hover {
    background-color: #fc6666;
    border: 1px solid #fc6666;
    color: #1d1d1d;
}




/*background-image*/
.background-image {

    background-image: url("../img/coding-mov.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 400px;
    padding-bottom: 400px;
}



/*information*/
.information {
    background: #1d1d1d;
    padding: 100px 10em 100px 10em;
    color: #fff;
}

.information .text {
    color: rgb(83, 83, 83);
    line-height: 2em;
}

.information .text h1 {
    color: #fff;
    line-height: 2em;
}

.source {
    color: rgb(200, 200, 200);
    font-size: 14px;
    line-height: 2em;
}

.source:hover {
    color: #fc6666;
}

.cards {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: #141414;
    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 5px;
    color: #fff;
}

.cards p {
    background: #1d1d1d;
    padding: 20px 0 20px 0;
    margin: 10px 0 10px 0;
    border-radius: 5px;

    font-size: 12px;
    text-align: center;
}

.cards button {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: #141414;
    color: #fff;
    padding: 40px 0 40px 0;
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fc6666;
}

.cards button:hover {
    background-color: #fc6666;
    border: 1px solid #fc6666;
    color: #1d1d1d;
}


/*accordion*/
.accordion {
    display: block;
    background: #1d1d1d;
    padding: 100px 10em 100px 10em;
    color: #fff;
    line-height: 2em;
}

.accordion .mission {
    background: #141414;
    padding: 1em;
    margin: 10px;
    border: 1px solid #fc6666;
    border-radius: 5px;
}

.accordion .mission summary {
    font-size: 24px;
}

.accordion .mission p {
    margin: 10px 30px 10px 30px;
}

.accordion .vision {
    background: #141414;
    padding: 1em;
    margin: 10px;
    border: 1px solid #fc6666;
    border-radius: 5px;
}

.accordion .vision summary {
    font-size: 24px;
}

.accordion .vision .text {
    margin: 10px 30px 10px 30px;
}

.accordion .vision .text ul {
    margin: 0 20px 0 20px;
    font-size: 14px;
}

.accordion .values {
    background: #141414;
    padding: 1em;
    margin: 10px;
    border: 1px solid #fc6666;
    border-radius: 5px;
}

.accordion .values summary {
    font-size: 24px;
}

.accordion .values p {
    margin: 10px 30px 10px 30px;
}

/*contact*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fc6666;
    color: #000;
}

.contact form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 100px;
    margin-bottom: 100px;

    width: 600px;
    height: 600px;

    background: #141414;
    border: 1px solid #141414;
    border-radius: 5px;
}

.contact form h1 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    text-align: center;
}

.contact form input {
    background: none;
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fc6666;
}

.contact form input::placeholder {
    color: rgb(83, 83, 83);
}

.contact form h4 {
    color: #fff;
    width: 600px;
    margin-top: 20px;
    padding-left: 150px;
}

.contact form textarea {
    background: #1d1d1d;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 2px solid #fc6666;
    font-size: 14px;
    padding-left: 150px;
    margin: 10px;
    
    min-width: 300px;
    max-width: 600px;
    min-height: 80px;
    max-height: 100px;

}

.contact form #button {
    background-color: #1d1d1d;
    color: #fff;

    padding: 10px 20px 10px 20px;
    margin: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;
}

.contact form #button:hover {
    background-color: #fc6666;
    border: 1px solid #fc6666;
}

/*modal*/
.modal {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    margin-top: 100px;
    margin-bottom: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fc6666;
    color: #fff;

    padding: 40px;
    border-radius: 5px;
}

.modal button {
    background-color: #1d1d1d;
    color: #fff;

    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;

}

.modal button:hover {
    background-color: #fc6666;
    border: 1px solid #fff;
}


/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1d1d1d;
    text-align: center;
    padding: 10px;

    color: rgb(83, 83, 83);
    font-size: 12px;
}

.contentinfo {
    display: flex;

}

